@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	margin: 0;
	padding: 0; 
	font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(../imgs/back-login.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed ;
}
 
.container {
   display: flex;
   justify-content: center;
   width: 100%; 
   margin-top: 100px;
} 

.card {
	background-color: #ffffff80;
	padding: 30px;
	border-radius: 4%;
	box-shadow: 3px 3px 1px 0px #00000060;
} 

h1 {
	text-align: center;
	margin-bottom: 20px;
	color: #800080;
} 

.label-float,input{
	width: 100%;
	padding: 5px 5px;
	display: inline-block;
	border: 0;
	background-color: transparent;
	outline: none; 
	min-width: 180px;
	font-size: 16px;
	transition: all .3s ease-out;
	border-radius: 0;
}

.label-float {
	position: relative;
	padding-top: 13px;
	margin-top: 5%;
	margin-bottom: 5%;
}

.label-float,input:focus{
   border-bottom: 2px solid #800080;
}

.label-float label {
	color: #800080;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 13px;
	transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #4038a0;
} 

button{
	background-color: transparent;
	border-color: #272262;
	color: #272262;
	padding: 7px;
	font-weight: bold;
	font-size: 12pt;
	margin-top: 20px;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	transition: all .4s ease-out;
} 

button:hover{
   background-color: #272262;
   color: #fff;  
}

.justify-center{
	display: flex;
	justify-content: center;
} 

hr{
	margin-top: 10%;
	margin-bottom: 10%;
	width: 60%;
} 

h3{
	color: #800080;
	font-size: 14pt;
	text-align: center;
}

a{
	color: #7a3077;
	font-weight: bold;
	text-decoration: none;
	transition: all .3s ease-out;	
}

a:hover{
color: #000000;
} 

.fa-eye{
	position: absolute;
	top: 15px;
	right: 50px;
	cursor: pointer;
	color: #272262;
	
} 

h4,.endereco_2 { 
	background: blanchedalmond; 
	text-align: center; 
	color: #1e1e1e;
}  





