@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Teko:wght@300;400;500;600;700&display=swap');

    *{
        margin: 0; 
        padding: 0;
    } 

body{
    background-color: #ffffff;
}
  

.aviso{ 
	text-align: center; 
    color: #3e3e3e;  
    font-family: 'Teko', sans-serif;
    padding: 0.8rem;
    margin-bottom: 1rem;
    font: inherit;
    border-radius: 15px;
    border: none;

    text-shadow: -3px -3px 6px #ffffff73, 3px 3px 5px rgba(153, 160, 172, 0.288);

    background-color: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,  3px 3px 5px rgba(94, 104, 121, .288);
    border-radius: 10px;
}



/* <---- produtos ----> */



.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%; 
    height: 400px; 
    vertical-align: top;
    margin: 2% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; 
    border: 2px solid #000000;
    border-radius: 10px;
} 

.produtos li:hover{
    border-color: #1DBF39;
} 

.produtos li:active{
    border-color: red;
}  

.produtos li:hover h2{
    font-size: 34px;
}  

.produtos h2{
    font-size: 30px;
    font-weight: bold; 
    color:black;
}  

.descricao{
    font-size: 18px; 
    color:black; 
    font-family: 'Nunito', sans-serif;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px; 
    color:black; 
    font-family: 'Nunito', sans-serif;

}  
 /* <---- rodape ----> */
footer{ 
	background: blanchedalmond; 
	text-align: center; 
	color: #1e1e1e; 
} 

.copyright{
	font-size: 13px;
	margin: 20px 0 0;
	font-size: 20px;
}